@model Profile

@{
    ViewBag.Title = "Profile Information";
}

<h2 class="text-center mt-5 mb-5">Profile Information</h2>

<table class="table table-striped">
    <tbody>
        <tr>
            <td><b>Full Name:</b></td>
            <td>FULL NAME</td>
        </tr>
        <tr>
            <td><b>Address 1:</b></td>
            <td>ADDRESS 1</td>
        </tr>
        <tr>
            <td><b>Address 2:</b></td>
            <td>ADDRESS 2 (OPTIONAL)</td>
        </tr>
        <tr>
            <td><b>City:</b></td>
            <td>CITY</td>
        </tr>
        <tr>
            <td><b>State:</b></td>
            <td>STATE</td>
        </tr>
        <tr>
            <td><b>Zipcode:</b></td>
            <td>ZIPCODE</td>
        </tr>
    </tbody>
</table>

<a asp-controller="Account" asp-action="EditProfile">
    <button type="button" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
        Edit
    </button>
</a>


    @* 
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(m => m.FullName)
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FullName)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Address1)
            @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Address1)
        </div>
            <div class="form-group">
            @Html.LabelFor(m => m.Address2)
            @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Address2)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.City)
            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.City)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.State)
            @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.State)
        </div>

        
        
        <div class="form-group">
            @Html.LabelFor(m => m.State)
            @Html.DropDownListFor(m => m.State, (IEnumerable<SelectListItem>)ViewBag.StateList, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.State)
        </div>
            

        <!--<div class="form-group">
            @Html.LabelFor(m => m.Zipcode)
            @Html.TextBoxFor(m => m.Zipcode, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Zipcode)
        </div>
        <br />
        <button type="submit" class="btn btn-submit">Save</button>
    }

            
    </div>
</div>

*@
