@model Quote

@{
    ViewBag.Title = "Fuel Quote Form";
}

<h2 class="text-center mt-5">Fuel Quote Form</h2>

<div class="row">
<div class="col-md-6 offset-md-3">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.GallonsRequested, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.GallonsRequested, new { htmlAttributes = new { @class = "form-control", type = "number", min = "1", id = "gallons" } })
        @Html.ValidationMessageFor(model => model.GallonsRequested, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DeliveryAddress, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.DeliveryAddress, new { htmlAttributes = new { @class = "form-control", type = "text", @readonly = "readonly", value = Model.DeliveryAddress} })
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.DeliveryDate, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.DeliveryDate, new { htmlAttributes = new { @class = "form-control", type = "date", id = "date" } })
        @Html.ValidationMessageFor(model => model.DeliveryDate, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SuggestedPricePerGallon, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.SuggestedPricePerGallon, new { htmlAttributes = new { @class = "form-control", type = "text", @readonly = "readonly", value = Model.SuggestedPricePerGallon, id = "SuggestedPrice"} })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TotalAmountDue, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.TotalAmountDue, new { htmlAttributes = new { @class = "form-control", type = "text", @readonly = "readonly", value = Model.TotalAmountDue, id = "TotalDue"} })
    </div>
    <br />
    <div class="form-group">
        <input type="button" onclick="getQuote()" id="btnGetQuote" value="Get Quote" class="btn btn-submit" disabled="disabled" />
        <input type="submit" id="btnSaveQuote" value="Submit" class="btn btn-submit" disabled="disabled" />
    </div>
}
</div>
</div>

@section scripts {
    <script type="text/javascript">
        function getQuote() {

            $.ajax({
                url: "/Quote/GetQuote",
                data: { "gallons": $("#gallons").val() },
                type: "POST",
                success: function (data) {
                    $("#SuggestedPrice").val(data.suggestedPrice);
                    $("#TotalDue").val(data.totalAmount);
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });

        }

        $(document).ready(function() {
            $('#gallons').on('input change', function() {
                if ($(this).val() > 0) {
                    $('#btnGetQuote').prop('disabled', false); // gallons has changed input > 0, we can get an estimate now
                } else {
                    $('#btnGetQuote').prop('disabled', true);
                    $('#btnSaveQuote').prop('disabled', true);
                }
            });
            $('#btnGetQuote').click( function () { 
                $('#btnSaveQuote').prop('disabled', false); // Total has been filled, estimate has been made, we can save now
                
            });
        });

    </script>
}
